<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>填写收货地址</title>
    <script src="{% static 'js/jquery.1.8.3.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="shortcut icon" href="images/favicon.ico?v=20160901" type="image/x-icon">
    <link href="{% static 'css/shopping_cart_new.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/footer_150526.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/jquery.1.8.3.min.js' %}" type="text/javascript"></script>
    <script>

        function quit_login() {
            spans = document.getElementById("nickname")
            $.ajax({
                type: "get",
                url: "{% url 'userapp:del_cookie' %}",
                success: function (msg) {
                    result = msg["result"];
                    if (result === 1) {
                        spans.innerHTML = "<span class=\"hi hi_none\">欢迎光临当当，请</span>\n" +
                            "<a href=\"{% url 'userapp:login' %}?flag=4\" class=\"login_link\">[登录]</a>\n" +
                            "<a href=\"{% url 'userapp:register' %}?flag=4\">[免费注册]</a>"
                    }
                }
            })
        }

        {#添加地址#}
        function add_address() {
            address_old = document.getElementById("address_old").value
            username = document.getElementById("username")
            user_address = document.getElementById("user_address")
            code = document.getElementById("code")
            mob_phone = document.getElementById("mob_phone")
            phone = document.getElementById("phone")
            $.ajax({
                type: "post",
                url: "{% url 'orderapp:select_address' %}",
                data: "id=" + address_old+"&csrfmiddlewaretoken="+"{{ csrf_token }}",
                success: function (msg) {
                    user_add = msg["user_address"];
                    username.value = user_add[0]["name"]
                    user_address.value = user_add[0]["address"]
                    code.value = user_add[0]["code"]
                    mob_phone.value = user_add[0]["mob_phone"]
                    phone.value = user_add[0]["phone"]
                }
            })
        }

        {#确认地址#}
        function confirm_address() {
            username = $("#username").val()
            user_address = $("#user_address").val()
            code = $("#code").val()
            mob_phone = $("#mob_phone").val()
            phone = $("#phone").val()
            $.ajax({
                type: "get",
                url: "{% url 'orderapp:add_user_address' %}",
                data: "username=" + username+"&&user_address="+user_address+"&&code="+code+"&&mob_phone="+mob_phone+"&&phone="+phone,
                success: function (msg) {
                    result = msg["result"];
                    if (result === 2) {
                        alert("用户地址已保存！")
                        location.href = "{% url 'orderapp:index_detail' %}"
                    }else if (result === 1){
                        location.href ="{% url 'orderapp:index_detail' %}"
                    }else{
                        alert("信息填写不完善，请完善用户信息后再确认订单！")
                        location.href ="javascript:void(0)"
                    }
                }
            })
        }

    </script>
</head>

<body style="padding-bottom:82px">

<link href="{% static 'css/header_960_150611.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/pagetop2015_0827.js' %}" charset="gb2312" type="text/javascript"></script>

<div id="hd">
    <div id="tools">
        <div class="tools">
            <div class="ddnewhead_operate" dd_name="顶链接">

                <div class="ddnewhead_welcome" display="none;">
                    <span id="nickname">
                        <span id="nickname">
                        {% if request.session.re_name %}
                            <span class="hi hi_none">欢迎光临当当</span>
                            <span class="hi hi_none" style="color: #ff1e0a">[{{ request.session.re_name }}]</span>
                            <a href="javascript:void(0)" class="login_link" id="quit_login" onclick="quit_login()">[退出账号]</a>
                        {% else %}
                            <span class="hi hi_none">欢迎光临当当，请</span>
                            <a href="{% url 'userapp:login' %}?flag=5" class="login_link">[登录]</a>
                            <a href="{% url 'userapp:register' %}?flag=5">[免费注册]</a>
                        {% endif %}
                    </span>
                    </span>
                    <div class="tel_pop" style="display:none" id="__ddnav_sjdd"
                         onmouseover="showgaoji('a_phonechannel','__ddnav_sjdd');"
                         onmouseout="hideotherchannel('a_phonechannel','__ddnav_sjdd');">
                        <a target="_blank" href="http://t.dangdang.com/20130220_ydmr" class="title"><i
                                class="icon_tel"></i>手机当当</a><i class="title_shadow"></i>
                        <ul class="tel_pop_box">
                            <li><a href="http://t.dangdang.com/20130220_ydmr" dd_name="手机二维码"><span>当当手机客户端</span><img
                                    src="http://img3.ddimg.cn/00363/doc/erweima2.png"><span class="text">随手查订单<br>随时享优惠</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="new_head_znx" id="znx_content" style="display:none;"></div>
            </div>
        </div>
    </div>
    <div id="header_end"></div>
    <!--CreateDate  2016-09-28 11:30:01--></div>
<form action="http://search.dangdang.com/search.aspx" id="bootpagetopSearch" name="bootpagetopSearch"
      method="GET"></form>
<script type="text/javascript">var nick_num = 0;
initHeaderOperate();</script>
<script type="text/javascript" src="http://orderb.dangdang.com/queryunpaid?callback=Unpaid_Data"></script>
<div class="shoppingcart_wrapper" id="ad_cpt_11850">
    <div>
        <a href="http://a.dangdang.com/tjump.php?q=ddo84XQOf357bOs8tXGg5%2F%2F0oVoDImt3DFWsMqu7ZMSVsfUMeOQJueASNiMLjq%2FdrXMLCKnVfyKEahteAh1ih%2ByKYrKGzhvL20LVbDzObRambBA0YPpivy5hR5foQ4Rt%2BTB"
           target="_blank" rel="nofollow"><img src="http://img62.ddimg.cn/2017/1/11/2017011111344969879.jpg"></a></div>
</div>
<div class="logo_line">
    <div class="w960">
        <div class="shopping_procedure01 shopping_procedure "><span>我的购物车</span><span class="current">填写订单</span><span>完成订单</span>
        </div>
        <div class="logo"><a href="{% url 'orderapp:car' %}"><img src="{% static 'images/bz_logo_car.jpg' %}"
                                                                  alt=""></a></div>
    </div>
</div>
<div class="indent_con">
    <div class="shdz">
        <h3>收货相关信息</h3>
        <div class="w960">
            <div class="address" id="dp_adress">
                <span class="icon_adr">&nbsp;</span>配送地址：
                <div class="select_add">
                    <select name="user_adress" id="address_old" onchange="add_address()">
                        <option value="new" selected>添加新地址</option>
                        {% for user_address in user_addresss %}
                            <option value="{{ user_address.id }}">{{ user_address.name }}</option>
                        {% endfor %}

                    </select>
                </div>
                <span class="tip_c" style="display:inline-block;">针对不同配送地址，您的货物可能出现缺货或无货状态，敬请谅解。</span>
            </div>
        </div>
        <ul class="shdz_con">
            <p>▪ 收货地址</p>
            <li><label><strong>*</strong>收&nbsp;&nbsp;货&nbsp;&nbsp;人：</label><input type="text" name="ship_man" id="username"><span class="hint new_tip" style="display: block;">请填写收货人姓名</span></li>
            <li><label><strong>*</strong>详细地址：</label><input type="text" name="ship_man" id="user_address"><span class="hint new_tip" style="display: block;">请填写收货详细地址</span></li>
            <li><label><strong>*</strong>邮政编码：</label><input type="text" name="ship_man" id="code"><span class="hint new_tip" style="display: block;">请填写收货地址邮政编码 </span></li>
            <li><label><strong>*</strong>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label><input type="text" name="ship_man" id="mob_phone"><span class="hint new_tip" style="display: block;">请填写收货人手机号</span></li>
            <li><label><strong>*</strong>固定电话</label><input type="text" name="ship_man" id="phone"><span class="hint new_tip" style="display: block;">请填写收货人电话</span></li>
        </ul>
        <div class="balance"><p><a href="javascript:void(0)" onclick="confirm_address()">确认地址</a></p></div>
    </div>
</div>
<div id="footer">
    <div class="footer">
        <div class="footer_nav_box" align="center">
            <div class="footer_copyright"><span>Copyright (C) 当当网 2004-2014, All Rights Reserved</span><a
                    href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202001051000098" target="_blank"
                    class="footer_img" rel="nofollow"><img src="http://img4.dangdang.com/bottom/validate.gif"></a><span><a
                    href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP证041189号</a></span><span>出版物经营许可证&nbsp;新出发京批字第直0673号</span>
            </div>
        </div>
    </div>
</div>
<div class="foot_tip_ad">广告</div>
<style>
    .foot_tip_ad {
        width: 40px;
        height: 40px;
        font: 12px/40px "simsun";
        text-align: center;
        color: #fff;
        background-color: #474747;
        position: fixed;
        right: 0;
        bottom: 10px;
        _position: absolute;
        _bottom: auto;
        _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    }
</style>


</body>
</html>
